{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],

  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,

  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,

  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",

  "singleAttributePerLine": true,

  "importOrder": ["^react$", "^next", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],

  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],

  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
